.account-details {
  background-color: #ff9333;
  padding: 20px;
  text-align: center;
  color: #fff;
}

.search-bar {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  text-align: right;
  /* border-radius: 20px; Adjust the border-radius for a more rounded appearance */
}

.search-bar input {
  padding: 10px;
  width: 300px;
  border: none;
  border-radius: 20px; /* Adjust the border-radius for a more rounded appearance */
  outline: none;
}

.search-bar button {
  padding: 10px;
  border: none;
  border-radius: 20px; /* Adjust the border-radius for a more rounded appearance */
  cursor: pointer;
}

.centered-container {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  padding: 20px !important;
}

.list-input {
  margin-top: 20px;
}

.list-name-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.your-lists {
  margin-top: 20px;
  margin-left: 20px; /* Add more padding at the top */
  margin-bottom: 20px; /* Add margin at the bottom for spacing */
}

.your-lists h3 {
  font-size: 24px; /* Increase the font size */
  margin-bottom: 10px; /* Add some spacing below the heading */
}

.folders-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(186px, 1fr));
  grid-gap: 20px; /* Add spacing between grid items */
}

.new-list-box {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  margin-top: 2px;
  display: flex;
  flex-direction: column; /* Use column layout */
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
  position: relative;
}



.new-list-box p {
  text-decoration: none;
  padding-bottom: 30px;
  margin: 0;
  font-weight: bold;
}

/* Popup modal styles */
.popup-container {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.list-box {
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.list-box h4 {
  margin-top: 0;
}

.list-box ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list-box li {
  padding: 5px 0;
  display: flex;
  align-items: center;
}

.list-box p {
  margin-top: auto;
  margin-bottom: 0;
}

.bullet-icon {
  margin-right: 5px;
  color: #999;
}
.list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-icon {
  cursor: pointer;
  color: #999;
  font-size: 1.2rem;
}

.delete-icon:hover {
  color: #f00;
}
.plus-icon {
  font-size: 2rem;
  color: grey;
  cursor: pointer;
  padding-bottom: 60px;
}

.plus-icon:hover {
  color: #0056b3;
}
.total-price {
  font-size: 0.8em; /* Adjust the font size as needed */
  padding-top: 30px;
}
.list-box {
  position: relative;
  /* Add any other styles for the list box */
}

.list-header {
  position: relative;
  /* Add any other styles for the list header */
}

.list-name {
  margin: 0;
  /* Add any other styles for the list name */
}

.delete-icon {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  /* Add any other styles for the delete icon */
}

.list-link {
  color: inherit; /* Keeps the link color the same as its parent */
  text-decoration: none; /* Removes default underline */
}

.list-link:hover {
  color: inherit; /* Ensures link color doesn't change on hover */
}

