.faqs-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  position: sticky;
}

.back-button {
  position: absolute;
  left: 50px;
  top: 50px;
}

.back-button a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #4285f4;
  font-size: 16px;
}

.back-button a:hover {
  text-decoration: underline;
}

.back-button svg {
  margin-right: 5px;
}

.faqs-heading {
  text-align: center;
  margin-bottom: 40px;
}

.faq-items {
  display: grid;
  grid-gap: 20px;
}

.faq-item {
  background-color: #f8f9fa;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.faq-question {
  display: flex;
  align-items: center;
  padding: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.faq-question:hover {
  background-color: #e9ecef;
}

.faq-icon {
  font-size: 24px;
  margin-right: 10px;
  color: #4285f4;
}

.faq-item h2 {
  font-size: 20px;
  margin: 0;
  flex-grow: 1;
  text-align: left;
}

.faq-toggle-icon {
  font-size: 20px;
  color: #4285f4;
}

.faq-answer {
  padding: 20px;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
}

.faq-answer ul {
  padding-left: 20px;
}

.faq-answer a {
  color: #4285f4;
  text-decoration: none;
}

.faq-answer a:hover {
  text-decoration: underline;
}
