/* Styling for the footer */
.footer {
  width: 100%;
  background-color: #0278ff96; /* Set background color */
  color: white; /* Text color */
  text-align: center; /* Center-align text */
  padding: 30px 0; /* Increase top and bottom padding for more height */
  height: 100px; /* Set a fixed height for the footer */
}

.footer-content {
  /* Add additional styles for footer content if needed */
}
